.App {
  text-align: center;
  width: 90%;
  margin: auto;
}

body{
  background-color: red;
  min-height: 100%;
}

.navbar {
 width: 100%;
 background-color: blue;
}

.carsTablePaper{
  padding: 10px;
  height: 100%;
  width: 100%;
}

.carsTableCell{
  padding: 15px;
 position: relative;
 height: 450px;
}

.carsTablePaper .imageWrapper{
  width: 100%;
  height: 60%;
  position: relative;
}

.carsTablePaper img{
  position:absolute;
  top:0;
  bottom:0;
  left: 0;
  margin:auto;

  width: 100%;
  height: auto;
  max-height: 100%;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

