*{
  box-sizing: border-box;
}

.App {
  text-align: center;
  width: 90%;
  margin: auto;
  min-height: 100vh;
  margin-top: 7vw;
}

body{
  background-color: rgb(61, 61, 61);
}

.navbar {
 width: 100%;
 background-color: rgb(214, 0, 0);
}

.navIcon{
  margin-left: 8px;
}

footer {
  width: 100%;
  text-align: center;
  margin-top: 5vh;
  background-color: rgb(214, 0, 0);
 }

